<!DOCTYPE html>
<html>
  <head>
    <title>Twitter AJAX</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous">
    </script>
  </head>
  <body>
    <h1>Twitter AJAX</h1>
    <p>Welcome to Twitter AJAX</p>
    <button type="button" id="recent" name="button">RECENT</button>
  </body>
  <script type="text/javascript">
    $.ajax({

    })
  </script>
</html>
